<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to User Page</h1>
        @model ICollection<User>

        <table>
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
